.color-btn{
  --width: 25px;
  --height: 25px;
  --border-radius: 50%!important;
}
.post-textarea{
  --background: transparent;
  font-size: 20px;
}
ion-toggle{
  --background-checked: #fff;

  --handle-background: #fff;
  --handle-background-checked: #fff;
}
