.online-icon{
  color: rgb(35, 158, 51);
}
ion-avatar img  {
  width:100% !important;
  height : 100% !important;
  max-width: 100px !important;  //any size
  max-height: 100px !important; //any size
}
