
<app-friends-header></app-friends-header>

<app-loader *ngIf="pageLoading"></app-loader>

<ion-content>
  <ion-card class="p-2 mt-2 text-center" *ngIf="(!friends || !friends.length) && !pageLoading">
    <ion-card-subtitle>You don't have any friend yet</ion-card-subtitle>
  </ion-card>

  <ion-list class="p-0">
    <ion-item [routerLink]="['/profile/' + friend.id]" *ngFor="let friend of friends">
      <ion-avatar class="ml-2">
        <img [src]="friend.avatar.path" alt="">
      </ion-avatar>
      <ion-label class="ml-2">
        <span class="d-flex align-items-center">
          <span class="user-name">{{ friend.fullName }}, {{ friend.age }}</span>
          <i class="fas fa-circle ml-2 online-icon"></i>
        </span>
        <span>{{ friend.country }}</span>
      </ion-label>
      <ion-buttons [routerLink]="['/messages/chat/' + friend.id]" slot="end">
        <ion-button shape="round">
          <i class="fas fa-comments"></i>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="getFriends($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
