
<app-friends-header></app-friends-header>


<ion-content>
  <app-loader *ngIf="pageLoading"></app-loader>

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200"  (ionRefresh)="getFriends($event, true)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="h-100 d-flex align-items-center" *ngIf="(!friends || !friends.length) && !pageLoading">
    <div class="w-100 text-center px-4">
      <img src="./../../../../assets/friends2.svg" alt="">
      <span class="empty-alert d-block mt-4">You have no friends yet</span>
    </div>
  </div>

  <ion-list class="p-0">
    <ion-item lines="none" [routerLink]="['/tabs/profile/display/' + friend.id]" *ngFor="let friend of friends">
      <ion-avatar class="avatar ml-2">
        <img [src]="friend.avatar.path" alt="">
      </ion-avatar>
      <ion-label class="ml-2">
        <span class="d-block">
          <span class="user-name title">{{ friend.fullName }}{{ (friend.age ? (', ' + friend.age) : '') }}</span>
        </span>
        <small class="d-block">{{ friend.city }}</small>
      </ion-label>
      <span *ngIf="friend.online"><i class="fas fa-circle ml-2 online-icon"></i></span>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll #infinitScroll threshold="100px" (ionInfinite)="getFriends($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
