<app-header
  [title]="type == 'posted' ? 'Posted Jobs' : 'Available Jobs'"
  [back]="true"
  [backLink]="'/tabs/small-business'"
  [search]="true"
  (searchKeyUp)="search($event)"
>
</app-header>

<ion-item class="ml-2 -dlex">
  <ion-button
    fill="clear"
    *ngIf="type == 'posted'"
    class="mx-auto"
    routerLink="/tabs/small-business/jobs/list/available"
  >
    View Available Jobs
  </ion-button>
  <ion-button
    fill="clear"
    *ngIf="type == 'available'"
    class="mx-auto"
    routerLink="/tabs/small-business/jobs/list/posted"
  >
    View Posted Jobs
  </ion-button>
</ion-item>

<ion-content>

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200"  (ionRefresh)="getJobs($event, true)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-loader *ngIf="pageLoading" ></app-loader>

  <div class="h-100 d-flex align-items-center" *ngIf="jobs && !jobs.length">
    <div class="w-100 text-center px-4">
      <img src="./../../../../assets/job.svg" alt="">
      <span class="empty-alert d-block mt-4">
        <span *ngIf="type == 'posted'">
          You didn't post any job yet<br>
          <small>Click on <i class="fas fa-plus"></i> to create you first job post</small>
        </span>
        <span *ngIf="type == 'available'">There is no job available now, come back later!</span>
      </span>
    </div>
  </div>

  <div class="px-2" >

    <ion-list class="mt-0 pt-0" *ngIf="jobs" >
      <ion-item *ngFor="let job of jobs" class="job-item mb-2 podition-relative ion-no-padding" [routerLink]="['/tabs/small-business/jobs/job/' + job.id]">
        <img [src]="job.photo.path" alt="">
        <div class="job-info d-flex">
          <div class="ml-2 mt-auto">
            <span class="title d-block">{{ job.title }}</span>
            <small class="subtitle">{{ job.company }}</small>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom" *ngIf="type == 'posted'">
    <ion-fab-button (click)="showJobForm()">
      <i class="fas fa-plus"></i>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll #infinitScroll threshold="100px" (ionInfinite)="getJobs($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
