.tab-button{
  --border-radius: 0px;
  font-size: 14px;
  height: 45px;
}
.tab-button.selected{
  --ion-color-base: #fff!important;
  --ion-color-contrast: #000!important;
}
.job-item{
  height: 120px;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 12px;
  --inner-padding-end: 0 !important;
}
.item>img{
  min-height: 120px;
  width: 100%;
}
.job-info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: rgba($color: #000000, $alpha: 0.4);
  color: white;
}
.title{
  font-size: 16px;
  font-weight: bold;
}
.subtitle{
  position: relative;
  top: -6px!important;
}
