<app-header title="Jobs" [back]="true" [backLink]="'/channels/small-business'"></app-header>

<ion-row>
  <ion-col size="6" class="ion-no-padding">
    <ion-button
        expand="block"
        class="ion-no-margin tab-button text-capitalize"
        size="default"
        color="secondary"
        routerLinkActive="selected"
        routerLink="/channels/small-business/jobs/list/posted"
    >
        Posted Jobs
    </ion-button>
  </ion-col>
  <ion-col size="6" class="ion-no-padding">
    <ion-button
        expand="block"
        class="ion-no-margin tab-button text-capitalize"
        size="default"
        color="secondary"
        routerLinkActive="selected"
        routerLink="/channels/small-business/jobs/list/Available"
    >
        Available Jobs
    </ion-button>
  </ion-col>
</ion-row>

<app-loader *ngIf="pageLoading"></app-loader>

<ion-content>
  <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="search()"></ion-searchbar>

  <ion-card class="p-2 text-center" *ngIf="jobs && !jobs.length">
    <ion-card-subtitle>There is no job to show</ion-card-subtitle>
  </ion-card>

  <ion-list *ngIf="jobs">
    <ion-item *ngFor="let job of jobs" [routerLink]="['/channels/small-business/jobs/job/' + job.id]">
      <ion-thumbnail class="ml-2">
        <ion-img [src]="job.photo.path"></ion-img>
      </ion-thumbnail>
      <ion-label class="ml-2">
        <span class="d-block">{{ job.title }}</span>
        <small>{{ job.createdAt | extractDate }}</small>
      </ion-label>
      <span class="mr-2 text-right">
        <span class="d-block">{{ job.company }}</span>
        <small class="d-block">{{ job.location }}</small>
      </span>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="getJobs($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="type == 'posted'">
    <ion-fab-button routerLink="/channels/small-business/jobs/form" class="mr-2" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
