<app-header [back]="true" title="Posted products"></app-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-item routerLink="/channels/buy-and-sell/product">
      <ion-thumbnail class="ml-2">
        <ion-img src="./../../../../assets/menu-bg.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label class="ml-2">
        <span class="d-block">MacBook Pro</span>
        <small>by Amal</small>
      </ion-label>
      <span class="mr-2">1500$</span>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/channels/buy-and-sell/product/form" class="mr-2">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
