<app-header [menu]="true" title="Buy/Sell"></app-header>

<ion-content>
  <div class="h-100 text-center d-flex pl-3 pr-4 align-items-center">
    <div class="w-100">
      <span class="im d-block">I'm</span>
      <ion-chip routerLink="/channels/buy-and-sell/products/buy" class="chip">
        <ion-label class="w-100 text-center">
          <span>Buyer</span>
        </ion-label>
      </ion-chip>
      <div class="mx-2 position-relative">
        <hr class="position-absolute bg-secondary">
        <span class="">or</span>
      </div>
      <ion-chip routerLink="/channels/buy-and-sell/products/sell" class="chip">
        <ion-label class="w-100 text-center">
          <span>Seller</span>
        </ion-label>
      </ion-chip>
    </div>
  </div>
</ion-content>
