<ion-content>
  <div class="w-100 h-100 d-flex justify-content-center align-items-center px-4">
    <div class="text-center">
      <div *ngIf="type == 'update'">
        <ion-text class="mt-5 title text-uppercase font-weight-bold" color="primary">
          New Version Available
        </ion-text>
        <img class="mt-5" src="./../../../assets/update.svg" alt="">
        <ion-text class="my-4 d-block" *ngIf="data && data.message">{{ data.message }}</ion-text>
        <ion-button (click)="data && data.url ? openUrl(data.url) : null" size="default">
          <i class="fas fa-cloud-upload-alt mr-2"></i>
          Update Now
        </ion-button>
      </div>
      <div *ngIf="type == 'connection'">
        <ion-text class="mt-5 title text-uppercase FONT" color="primary">
          No Connection
        </ion-text>
        <img class="mt-5" src="./../../../assets/no-internet.PNG" alt="">
        <ion-button (click)="reload()" class="mt-5" size="default">
          <i class="fas fa-sync mr-2"></i>
          Reload
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
