
ion-input{
  --padding-bottom: 0px;
  padding-bottom: 0px;
}

ion-label{
  --padding-bottom: 0px;
  padding-bottom: 0px;
}

ion-textarea{

  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

ion-item.gender-item:hover{
  --background: rgb(0, 0, 0);
}
.title{
  color: red;
  font-weight: bold;
}
