<app-header [back]="true" title="Edit Profile">
  <div id="end-buttons">
    <ion-button
      fill="clear"
      shape="round"
      (click)="submit()"
    >
      <i class="fas fa-save mr-2"></i> Save
    </ion-button>
  </div>
</app-header>

<app-loader *ngIf="pageLoading"></app-loader>

<ion-content>
  <form class="p-2 ml-2" *ngIf="user" [formGroup]="form">
    <ion-text class="font-weight-bold" color="primary"><i class="fas fa-info-circle mr-2"></i> Basic information</ion-text>
    <ion-list class="mx-3">
      <ion-item>
        <ion-label>
          <ion-text class="d-block"><i class="far fa-user mr-2"></i>First Name: </ion-text>
          <ion-input
            placeholder="enter your first name"
            type="text"
            formControlName="firstName"
          ></ion-input>
        </ion-label>
      </ion-item>
      <div class="mt-1" *ngIf="(firstName.dirty && !firstName.valid) || validatoErrors['firstName']">
        <span *ngIf="!firstName.valid && validatoErrors['firstName']" class="text-danger pl-1" >
          <span *ngIf="firstName.hasError('required')">first name is required</span>
          <span *ngIf="validatoErrors['firstName']">{{ validatoErrors['firstName'][0] }}</span>
        </span>
      </div>

      <ion-item class="mt-2">
        <ion-label>
          <ion-text class="d-block"><i class="far fa-user mr-2"></i>Last Name: </ion-text>
          <ion-input
            placeholder="enter your last name"
            type="text"
            formControlName="lastName"
          ></ion-input>
        </ion-label>
      </ion-item>
      <div class="mt-1" *ngIf="(lastName.dirty && !lastName.valid) || validatoErrors['lastName']">
        <span *ngIf="!lastName.valid && validatoErrors['lastName']" class="text-danger pl-1" >
          <span *ngIf="lastName.hasError('required')">last name is required</span>
          <span *ngIf="validatoErrors['stName']">{{ validatoErrors['lastName'] }}</span>
        </span>
      </div>

      <ion-item class="mt-2">
        <ion-label>
          <ion-text class="d-block"><i class="fas fa-birthday-cake mr-2"></i>Birth Day: </ion-text>
          <ion-input
            placeholder="select your birth day"
            formControlName="birthDate"
            type="date"
            [max]="getMaxDate()"
            [disabled]="true"
          ></ion-input>
        </ion-label>
      </ion-item>
      <span *ngIf="!birthDate.valid && validatoErrors['birthDate']" class="text-danger pl-1" >
        <span *ngIf="birthDate.hasError('required')">birth day is required</span>
        <span *ngIf="validatoErrors['birthDate']">{{ validatoErrors['birthDate'] }}</span>
      </span>

      <div class="mt-3">
        <ion-text class="d-block text-disabled">
          <i class="fas fa-venus-mars mr-1"></i>
          Gender:
        </ion-text>
        <ion-item>
          <ion-select
            placeholder="select you gender"
            formControlName="gender"
            class="w-100 ion-no-padding pl-2"
            [disabled]="true"
          >
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="male">Male</ion-select-option>
          </ion-select>
        </ion-item>
        <span *ngIf="!gender.valid && validatoErrors['gender']" class="text-danger pl-1" >
          <span *ngIf="gender.hasError('required')">gender day is required</span>
          <span *ngIf="validatoErrors['gender']">{{ validatoErrors['gender'] }}</span>
        </span>
      </div>

      <div class="mt-3">
        <ion-text><i class="far fa-flag mr-2"></i>Country: </ion-text>
        <ion-item class="w-100">
          <div class="w-100 h-100">
            <ion-button
              expand="block"
              fill="clear"
              color="dark"
              size="default"
              class="ion-no-padding ion-no-margin text-capitalize h-100"
              (click)="presentCountriesModal()"
            >
              <span class="w-100 my-3 ml-2 text-left country-btn" [class.btn-placeholder]="!selectedCountry">
                {{ selectedCountry ? selectedCountry : 'select your country' }}
              </span>
            </ion-button>
          </div>
        </ion-item>
      </div>


      <div class="mt-3">
        <ion-text><i class="far fa-flag mr-2"></i>City: </ion-text>
        <ion-item class="w-100">
          <div class="w-100 h-100">
            <ion-button
              expand="block"
              fill="clear"
              color="dark"
              size="default"
              class="ion-no-padding ion-no-margin text-capitalize h-100"
              (click)="presentCitiesModal()"
            >
              <span class="w-100 my-3 ml-2 text-left country-btn" [class.btn-placeholder]="!selectedCity">
                {{ selectedCity ? selectedCity : 'select your City' }}
              </span>
            </ion-button>
          </div>
        </ion-item>
      </div>
    </ion-list>

    <div class="mt-3">
      <ion-text class="font-weight-bold" color="primary"><i class="fas fa-briefcase mr-2"></i> Profession</ion-text>
      <div class="ml-3">
        <ion-item class="w-100">
          <div class="w-100 h-100">
            <ion-button
              expand="block"
              fill="clear"
              color="dark"
              size="default"
              class="ion-no-padding ion-no-margin text-capitalize h-100"
              (click)="presentProfessionsModal()"
            >
              <span class="w-100 my-3 ml-2 text-left country-btn" [class.btn-placeholder]="!selectedProfession">
                {{ selectedProfession ? selectedProfession : 'select your profession' }}
              </span>
            </ion-button>
          </div>
        </ion-item>
      </div>
    </div>

    <div class="mt-3">
      <ion-text class="font-weight-bold" color="primary"><i class="fas fa-school mr-2"></i> School</ion-text>
      <div class="ml-3">
        <ion-item class="w-100">
          <ion-label>
            <ion-input
              placeholder="enter your school name"
              type="text"
              formControlName="school"
            ></ion-input>
          </ion-label>
        </ion-item>
      </div>
      <span *ngIf="!school.valid && validatoErrors['school']" class="text-danger pl-1" >
        <span *ngIf="school.hasError('max')">
          the school field must not contain more than 50 characters
        </span>
        <span *ngIf="validatoErrors['school']">{{ validatoErrors['school'] }}</span>
      </span>
    </div>

    <div class="mt-3" >
      <ion-text class="font-weight-bold" color="primary"><i class="fas fa-graduation-cap mr-2"></i> Education</ion-text>
      <ion-item class="ml-3" lines="none">
        <ion-label>
          <ion-item>
            <ion-select
              placeholder="select your education degree"
              class="w-100 pl-1"
              formControlName="education"
            >
              <ion-select-option [value]="degree" *ngFor="let degree of educations"> {{ degree }} </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-label>
      </ion-item>
      <span *ngIf="!education.valid && validatoErrors['education']" class="text-danger pl-1" >
        <span *ngIf="education.hasError('max')">the education field must not contain more than 50 characters</span>
        <span *ngIf="validatoErrors['education']">{{ validatoErrors['education'] }}</span>
      </span>
    </div>

    <div class="mt-3">
      <ion-text class="font-weight-bold" color="primary"><i class="fas fa-heart mr-2"></i>  Intersets</ion-text>
      <ion-row *ngIf="interests.length">
        <ion-col class="text-center ion-no-padding p-0" size="auto" *ngFor="let interest of selectedInterests; let ind=index">
          <ion-card class="text-center p-2 interest">
            <span>{{ interest }}</span>
            <span (click)="removeInterest(ind)" class="ml-2"><i class="fas fa-times"></i></span>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

    <div class="mb-3 ml-3">
      <ion-item class="w-100">
        <div class="w-100 h-100">
          <ion-button
            expand="block"
            fill="clear"
            color="dark"
            size="default"
            class="ion-no-padding ion-no-margin text-capitalize h-100"
            (click)="presentInterestsModal()"
          >
            <span class="w-100 my-3 ml-2 text-left country-btn">
             Add Interest
            </span>
          </ion-button>
        </div>
      </ion-item>
    </div>
  </form>
</ion-content>
