.form{
  height: 450px;
}
ion-chip{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 22px;
}
ion-chip.selected{
  --background: rgb(0, 174, 255);
  color: white;
}
.logo-img{
  width: 150px;
}
.check-icon{
  font-size: 80px;
}
.congrats-text{
  font-size: 30px;
  font-weight: bold;
}
.desc-text{
  font-size: 20px;
}
