
ion-chip{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 22px;
}
ion-chip.selected{
  --background: var(--ion-color-primary);
  color: white;
}
.logo-img{
  width: 150px;
}
.check-icon{
  font-size: 80px;
}
.congrats-text{
  font-size: 30px;
  font-weight: bold;
}
.desc-text{
  font-size: 20px;
}
.country-btn{
  font-size: 16px;
}
.check-button{
  --background: rgb(55, 158, 103)!important;
  font-size: 24px;
  width: 80px;
  height: 80px;
}
.check-container{
  padding: 25px;
  background-color: rgb(175, 218, 195)!important;
  display: block;
  width: fit-content;
  border-radius: 50%;
}
