.contaienr{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.spinner-container{
  border-radius: 14px!important;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(209, 209, 209)!important;
}
