<ion-header
>
  <ion-toolbar
    [style]="{
      '--background': backgroundColor ? (backgroundColor + '!important') : '',
      '--color': textColor ? (textColor + '!important') : ''
    }"
  >
    <ion-buttons class="ion-no-padding ion-no-margin" slot="start" *ngIf="!showSearch">
      <ion-button shape="round" (click)="goBack()" *ngIf="back">
        <i class="fas fa-chevron-left"></i>
      </ion-button>
      <ion-menu-button *ngIf="menu"></ion-menu-button>
    </ion-buttons>

    <ion-item>
      <ion-searchbar
        showCancelButton="alwayse"
        (ionCancel)="cancelSearch()"
        (ionInput)="doSearch($event)"
        [animated]="true"
        color="secondary"
        cancelButtonIcon="arrow-back"
        *ngIf="showSearch"
      ></ion-searchbar>
      
      <ion-title class="ion-no-margin ion-no-padding" *ngIf="!showSearch">
        <span>{{ title }}</span>
      </ion-title>
    </ion-item>

    <ion-buttons slot="end">
      <ng-content select="#end-buttons"></ng-content>
      <ion-button shape="round" *ngIf="search && !showSearch" (click)="showSearch = true">
        <i class="fas fa-search"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
