
  <ion-split-pane contentId="main-content" class="ion-no-padding ion-no-margin">
    <ion-menu (ionDidOpen)="updateUserData()" side="start" menuId="first" contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar class="menu-header px-2 pt-3 pb-2">
          <div class="w-100 d-flex">
            <div class="mx-auto">
              <app-img-loader
                [src]="user.avatar.path"
                *ngIf="user && user.avatar"
                [avatar]="true"
              >
              </app-img-loader>
            </div>
          </div>
          <ion-title class="mt-3 p-0 menu-header-title" *ngIf="user">
            <span class="d-block">{{ user.fullName }}</span>
            <span class="d-block">{{ user.email }}</span>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let page of appPages">
            <ion-item routerDirection="root" [routerLink]="[page.url]" lines="none" detail="false" routerLinkActive="selected">
              <span class="mr-3" [style]="{color: page.iconColor ? page.iconColor : 'black'}"><i [class]="page.icon"></i></span>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
            <ion-item button="true" (click)="signout()" lines="none" detail="false">
              <span class="mr-3"><i class="fas fa-sign-out-alt"></i></span>
              <ion-label>Sign out</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
