<app-header title="channels" [menu]="true"></app-header>

<app-loader *ngIf="pageLoading"></app-loader>

<ion-content>
  <ion-row class="mt-2">
    <ion-col class="ion-no-padding p-1" size="6">
      <ion-chip routerLink="/channels/buy-and-sell" class="w-100 ion-no-margin chip">
        <ion-label class="w-100 text-center">
          <span class="d-block">Buy/Sell</span>
          <small class="mt-2 d-block">products</small>
        </ion-label>
      </ion-chip>
    </ion-col>
    <ion-col class="ion-no-padding p-1 pr-2" size="6">
      <ion-chip routerLink="/channels/small-business" class="w-100 ion-no-margin chip">
        <ion-label class="w-100 text-center">
          <span class="d-block">Small Business</span>
        </ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>

  <ion-searchbar></ion-searchbar>

  <ion-list *ngIf="channels && channels.length">
    <ion-item *ngFor="let channel of channels">
      <ion-avatar class="avatar ml-2">
        <img [src]="channel.photo.path" alt="">
      </ion-avatar>
      <ion-label class="ml-2">
        <span class="channel-name d-block">{{ channel.name }}</span>
        <small class=" d-block">{{ channel.followerSize }} Follower</small>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
