.my-message{
  background-color: var(--ion-color-secondary);
  color: white;
  margin-left: auto!important;
}
.his-message{
  background-color: var(--ion-color-light);
  border: 1px solid #000;
}
.chat-input{
  --background: var(--ion-color-light);
  border-radius: 20px;
  padding-left: 8px!important;
  padding-right: 8px;
  border: 1px solid #000;
}
