.my-message{
  background-color: var(--ion-color-primary);
  color: white;
  margin-left: auto!important;
}
.his-message{
  background-color: var(--ion-color-light);
  border: 1px solid rgb(73, 72, 72);
}
.chat-input{
  height: 30px!important;
  padding-left: 8px!important;
  padding-right: 8px!important;
}
.his-message, .my-message{
  border-radius: 12px;
}
.text-wrap{
  word-wrap: break-word;
  width: 100%;
  overflow-wrap: break-word;
}
.infinite-loading {
  margin-bottom: 0px!important;
}
.failed{
  background-color: var(--ion-color-danger);
}
.image{
  border-radius: 12px;
}
.absolute{
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 100;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.avatar{
  width: 40px;
  height: 40px;
}
