.my-message{
  background-color: var(--ion-color-secondary);
  color: white;
  margin-left: auto!important;
}
.his-message{
  background-color: var(--ion-color-light);
  border: 1px solid rgb(73, 72, 72);
}
.chat-input{
  // --background: var(--ion-color-light);
  // border-radius: 20px;
  height: 30px!important;
  padding-left: 8px!important;
  padding-right: 8px!important;
  // border: 1px solid #000;
}
.his-message, .my-message{
  border-radius: 12px;
}
.text-wrap{
  word-wrap: break-word;
  width: 100%;
  overflow-wrap: break-word;
}
.infinite-loading {
  margin-bottom: 0px!important;
}
.failed{
  background-color: var(--ion-color-warning);
}
