<app-header [title]="user ? user.fullName : ''" [back]="true" >
  <div id="end-buttons">
    <ion-button>
      <i class="fas fa-video"></i>
    </ion-button>
  </div>
</app-header>

<ion-content #content>
  <div class="overflow-auto h-100">
    <div class="mt-2 mx-2 mr-3" *ngFor="let message of messages; let ind = index">
      <div class="w-100 text-center mb-2" *ngIf="ind && allowToShowDate(ind)">
        {{ message.date.toJSON().slice(0, 10) }}
      </div>
      <ion-row>
        <ion-col [class]="[message.mine ? 'my-message' : 'his-message']" class="px-2" size="auto">
          <img *ngIf="message.image" [src]="message.image" alt="">
          <div class="d-flex w-100 justify-content-between">
            <ion-text class="d-block">{{ message.text }}</ion-text>
            <small [class]="[message.text ? 'mt-4' : 'mt-2']">time</small>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>

<ion-footer class="bg-danger ion-no-padding ion-no-margin">
  <ion-item lines="none">
    <ion-buttons class="ion-no-margin" slot="start">
      <ion-button (click)="pickImage()" size="large" shape="round">
        <i class="fas fa-images"></i>
      </ion-button>
    </ion-buttons>

    <ion-input [(ngModel)]="messageText" class="mx-2 chat-input" placeholder="tape your message here"></ion-input>

    <ion-buttons class="ion-no-margin py-2" slot="end">
      <ion-fab-button (click)="addMessage()" color="secondary">
        <i class="fas fa-paper-plane"></i>
      </ion-fab-button>
    </ion-buttons>
  </ion-item>
</ion-footer>
