<app-header
  [title]="user ? user.fullName : ''"
  [back]="true"
  [avatar]="!!user"
  [avatarSrc]="user ? user.avatar.path : null"
>
  <div id="end-buttons">
    <ion-buttons slot="end">
      <ion-button shape="round" [routerLink]="['/messages/video/' + (user ? user.id : '')]">
         <i class="fas fa-video"></i>
       </ion-button>
    </ion-buttons>
  </div>
</app-header>

<app-loader *ngIf="pageLoading" ></app-loader>

<ion-content #content>
  <ion-infinite-scroll #infScroll position="top" (ionInfinite)="getMessages($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading more messages ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-list *ngIf="authUser && user">
    <div *ngFor="let message of messages; let ind = index">

      <ion-row size="12" class="w-100 text-center mb-2" *ngIf="allowToShowDate(ind)">
        <ion-col>{{ message.createdAt | extractDate }}</ion-col>
      </ion-row>

      <ion-item lines="none" class="message" >
        <ion-row class="mx-2 w-100">
          <ion-col
            [class]="[message.isMine(authUser.id) ? 'my-message' : 'his-message']"
            [class.failed]="message.state == 'failed'"
            class="p-2"
            size="auto"
          >
            <div class="w-100 position-relative">
              <img class="image" *ngIf="message.image && message.image.path" [src]="message.image.path" alt="">
              <div [class.absolute]="!message.text && message.image" class="w-100 text-wrap">
                <ion-text class="d-block">
                  {{ message.text }}
                  <small class="pt-2 ml-2 float-right">
                    <span>{{ message.createdAt | extractTime }}</span>
                    <span *ngIf="message.state == ''"><i class="far fa-clock ml-2"></i></span>
                    <span *ngIf="message.state == 'sent'"><i class="fas fa-check ml-2"></i></span>
                  </small>
                </ion-text>
              </div>
            </div>
          </ion-col>
          <ion-col
          [class]="[message.isMine(authUser.id) ? 'text-right' : 'text-left']"
            size="12"
          >
            
          </ion-col>
        </ion-row>
        <ion-button
          color="dark"
          fill="clear"
          shape="round"
          [disabled]="resend.includes(message.id)"
          *ngIf="message.state == 'failed'"
          (click)="resendMessage(message)"
        >
          <span *ngIf="resend.includes(message.id)" ><i class="fas fa-circle-notch fa-spin"></i></span>
          <span *ngIf="!resend.includes(message.id)"><i class="fas fa-sync-alt"></i></span>
        </ion-button>
      </ion-item>
    </div>
  </ion-list>
</ion-content>

<ion-footer class="bg-danger ion-no-padding ion-no-margin">
  <ion-item lines="none">
    <ion-buttons class="ion-no-margin" slot="start">
      <ion-button (click)="pickImage()" size="large" shape="round">
        <i class="fas fa-camera"></i>
      </ion-button>
    </ion-buttons>

    <ion-input (keydown.enter)="addMessage()" [(ngModel)]="messageText" class="mx-2 chat-input" placeholder="tape your message here"></ion-input>

    <ion-buttons class="ion-no-margin py-2" slot="end">
      <ion-button (click)="addMessage()" shape="round" fill="clear" color="secondary">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-footer>
