.top-video{
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 100px;
  z-index: 2;
}

.main-video{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.user-name{
  font-size: 20px;
}

.buttons-div{
  position: absolute;
  bottom: 0px;
  left: 0px;
}

ion-fab-button{
  font-size: 19px;
}
