ion-button{
  width: 80px;
  height: 80px;
  font-size: 25px;
}
.absolute-row{
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.user-info{
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 2px;
}
