.user-info{
  position: absolute;
  bottom: 0px;
}
.user-name{
  font-size: 28px;
  font-weight: bold;
}
.other-info{
  font-size: 22px;
}
.online-icon{
  font-size: 11px;
  color: rgb(29, 192, 78);
}

ion-button > span{
 font-size: 25px;
}
