<div class="position-relative h-100 w-100">
  <ion-row class="ion-align-items-center h-100">
    <ion-col class="ion-no-padding my-auto" size="12">
      <img (click)="showProfile()" class="w-100" [src]="user.avatar.path" alt="">
    </ion-col>
  </ion-row>
  <div class="user-info w-100 text-left">
    <div class="p-2 pb-5 pl-3">
      <span class="user-name d-flex align-items-center">
        {{ user.fullName }}, {{ user.age }}
        <i class="fas fa-circle online-icon ml-2"></i>
      </span>
      <span class="d-block text-left other-info ">{{ user.gender }}, {{ user.city }} -- {{ user.request }}</span>
    </div>
    <ion-row>
      <ion-col class="ion-no-padding text-center" size="3">
        <ion-button (click)="request()" size="large" shape="round" color="light" fill="clear">
          <span *ngIf="user.friend"><i class="text-success fas fa-user-minus"></i></span>
          <span *ngIf="!user.friend">
            <span *ngIf="user.request == null"><i class="fas fa-user-plus"></i></span>
            <span *ngIf="user.request == 'requesting'"><i class="text-secondary fas fa-user-times"></i></span>
            <span *ngIf="user.request == 'requested'"><i class="text-secondary fas fa-user-check"></i></span>
          </span>
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding text-center" size="3">
        <ion-button size="large" shape="round" color="light" fill="clear">
          <span><i class="fas fa-video"></i></span>
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding text-center" size="3">
        <ion-button (click)="follow()" size="large" shape="round" color="light" fill="clear">
          <span [class.text-warning]="user.followed"><i class="fas fa-star"></i></span>
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding text-center" size="3">
        <ion-button size="large" shape="round" color="light" fill="clear">
          <span><i class="fas fa-comments"></i></span>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</div>
