<app-header title="Add Product" [back]="true"></app-header>
<app-loader *ngIf="pageLoading"></app-loader>

<ion-content>
  <div class="w-100 image-container">
    <img (click)="pickImage()" [src]="productImage.url" class="w-100 h-100" alt="">
  </div>
  <form [formGroup]="form">
    <ion-list class="mx-3">
      <ion-item>
        <ion-label position="floating" class="ml-2">
          Product name:
        </ion-label>
        <ion-input formControlName="label" class="ml-2"></ion-input>
      </ion-item>
      <span *ngIf="validatorErrors['label'] || (label.dirty && label.errors)">
        <span class="text-danger" *ngIf="validatorErrors['label']">{{ validatorErrors['label'][0] }}</span>
        <span class="text-danger" *ngIf="label.hasError('required')">The label field is required</span>
        <span class="text-danger" *ngIf="label.hasError('maxlength')">
          The label must not contain more than {{ label.errors.maxlength.requiredLength }} characters
        </span>
      </span>

      <ion-item>
        <ion-label position="floating" class="ml-2">
          Price:
        </ion-label>
        <ion-input formControlName="price" class="ml-2"></ion-input>
      </ion-item>
      <span *ngIf="validatorErrors['price'] || (price.dirty && price.errors)">
        <span class="text-danger" *ngIf="validatorErrors['price']">{{ validatorErrors['price'][0] }}</span>
        <span class="text-danger" *ngIf="price.hasError('required')">The price field is required</span>
        <span class="text-danger" *ngIf="price.hasError('maxlength')">
          The price must not contain more than {{ price.errors.maxlength.requiredLength }} characters
        </span>
      </span>

      <ion-item>
        <ion-label position="floating" class="ml-2">
          Description:
        </ion-label>
        <ion-textarea maxlength="255" formControlName="description" class="ml-2" rows="5"></ion-textarea>
      </ion-item>
      <span *ngIf="validatorErrors['description'] || (description.dirty && description.errors)">
        <span class="text-danger" *ngIf="validatorErrors['description']">{{ validatorErrors['description'][0] }}</span>
        <span class="text-danger" *ngIf="description.hasError('required')">The description field is required</span>
        <span class="text-danger" *ngIf="description.hasError('maxlength')">
          The description must not contain more than {{ description.errors.maxlength.requiredLength }} characters
        </span>
      </span>

    </ion-list>
  </form>
</ion-content>
<ion-footer>

  <ion-item>
    <div class="w-100 pl-1">
      <ion-button
        expand="block"
        size="default"
        color="secondary"
        (click)="submit()"
      >
       Post
      </ion-button>
    </div>
  </ion-item>
</ion-footer>
