
.icon{
  font-size: 20px;
  color: rgb(160, 160, 160);
}
.selected>.icon{
  font-size: 22px;
  color: var(--ion-color-primary);
}
.tab-selected>*{
  font-size: 22px;
  --color: var(--ion-color-primary);
  color: var(--ion-color-primary);
 }
