<app-channels-header></app-channels-header>

<ion-content>

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200"  (ionRefresh)="getMyChannels($event, true)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card class="p-2" *ngIf="!channels || !channels.length">
    <ion-card-subtitle>No card found</ion-card-subtitle>
  </ion-card>

  <ion-item>
    <span class="ml-3"><i class="fas fa-user-secret"></i></span>
    <ion-label class="ml-2">
      Anonymity in Channels
    </ion-label>
    <ion-toggle [(ngModel)]="anonyme" color="secondary"></ion-toggle>
  </ion-item>

  <ion-list *ngIf="channels && channels.length">
    <ion-item *ngFor="let channel of channels">
      <ion-avatar class="avatar ml-2">
        <img [src]="channel.photo.path" alt="">
      </ion-avatar>
      <ion-label class="ml-2">
        <span class="channel-name d-block">{{ channel.name }}</span>
        <small class=" d-block">{{ channel.followerSize }} Follower</small>
      </ion-label>
      <small class="mr-2 text-danger"><i class="fas fa-thumbtack"></i></small>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="getMyChannels($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab position="fixed" vertical="bottom" horizontal="end" *ngIf="!anonyme">
    <ion-fab-button routerLink="/channels/form" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
