<app-channels-header *ngIf="type && type != 'explore'"></app-channels-header>
<app-header *ngIf="type && type == 'explore'" [back]="true" [title]="'explore channels (' + (user ? (user.city ? user.city : 'Global') : '') + ')'"></app-header>

<app-loader *ngIf="pageLoading"></app-loader>

<ion-content>

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200"  (ionRefresh)="getChannels($event, true)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card class="p-2" *ngIf="channels && !channels.length && !pageLoading">
    <ion-card-subtitle>
      <span *ngIf="type == 'mines'">You didn't create any channel yet !</span>
      <span *ngIf="type == 'followed'">You didn't follow any channel yet !</span>
      <span *ngIf="type == 'explore'">
        there is no other channels available in your city !
      </span>
    </ion-card-subtitle>
  </ion-card>

  <ion-list *ngIf="channels && channels.length">
    <ion-item
      *ngFor="let channel of channels"
      [routerLink]="['/channels/channel']"
      [queryParams]="{
        id: channel.id,
        name: channel.name,
        channelIsFollowed: channel.followed,
        myChannel: type == 'mines' ? true : false
      }"
    >
      <ion-avatar class="avatar ml-2">
        <img [src]="channel.photo.path" alt="">
      </ion-avatar>
      <ion-label class="ml-2">
        <span class="channel-name d-block">{{ channel.name }}</span>
        <small class=" d-block">{{ channel.followerSize }} Follower</small>
      </ion-label>
      <ion-button
        [color]="!channel.followed ? 'secondary' : 'danger'"
        [disabled]="followLoading.includes(channel.id)"
        fill="outline"
        (click)="follow(channel)"
        *ngIf="user && channel.user.id != user.id"
      >
          <span *ngIf="!channel.followed">
            <span *ngIf="!followLoading.includes(channel.id)"><i class="fas fa-plus mr-1"></i></span>
            <span *ngIf="followLoading.includes(channel.id)">
              <i class="fas fa-circle-notch fa-spin mr-1"></i>
            </span>
             Follow
          </span>
          <span *ngIf="channel.followed"><i class="fas fa-minus"></i> Unfollow</span>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="getChannels($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab position="fixed" vertical="bottom" horizontal="end" *ngIf="type == 'mines'">
    <ion-fab-button routerLink="/channels/form" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab position="fixed" vertical="bottom" horizontal="end" *ngIf="type == 'followed'">
    <ion-fab-button  routerLink="/channels/list/explore" color="secondary">
      <i class="fas fa-globe-americas"></i>
    </ion-fab-button>
  </ion-fab>
</ion-content>
