<app-channels-header *ngIf="!type || type != 'explore'"></app-channels-header>
<app-header *ngIf="type && type == 'explore'" [back]="true" [title]="'Explore channels (' + (user ? user.city : '') + ')'"></app-header>

<ion-content>
  <app-loader *ngIf="pageLoading"></app-loader>

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200"  (ionRefresh)="getChannels($event, true)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="h-100 d-flex align-items-center" *ngIf="channels && !channels.length && !pageLoading">
    <div class="w-100 text-center">
      <span class="empty-alert">
        <span *ngIf="type == 'mines'">You didn't create any channel yet !</span>
        <span *ngIf="type == 'followed'">You didn't follow any channel yet !</span>
        <span *ngIf="type == 'explore'">
          there is no other channels available in your city !
        </span>
      </span>
    </div>
  </div>

  <ion-list class="p-0 m-0" *ngIf="channels && channels.length">
    <ion-item
      *ngFor="let channel of channels"
      lines="none"
      button="true"
      (click)="showChannel(channel)"
    >
      <ion-avatar class="avatar ml-2">
        <img [src]="channel.photo.path" alt="">
      </ion-avatar>
      <ion-label class="ml-2">
        <span class="channel-name d-block">{{ channel.name }}</span>
        <small class=" d-block">{{ channel.followers.length }} Follower</small>
      </ion-label>
      <small *ngIf="user && channel.user.id == user.id">
        <span *ngIf="channel.approved" class="text-success">Approved</span>
        <span *ngIf="!channel.approved" class="text-danger">Not Approved</span>
      </small>
      <ion-button
        [color]="!channel.followedBy(user.id) ? 'secondary' : 'danger'"
        [disabled]="followLoading.includes(channel.id)"
        fill="outline"
        (click)="follow(channel);$event.stopPropagation();"
        *ngIf="user && channel.user.id != user.id"
      >
          <span *ngIf="!channel.followedBy(user.id)">
            <span *ngIf="!followLoading.includes(channel.id)"><i class="fas fa-plus mr-1"></i></span>
            <span *ngIf="followLoading.includes(channel.id)">
              <i class="fas fa-circle-notch fa-spin mr-1"></i>
            </span>
             Follow
          </span>
          <span *ngIf="channel.followedBy(user.id)"><i class="fas fa-minus"></i> Unfollow</span>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll #infinitScroll threshold="100px" (ionInfinite)="getChannels($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab position="fixed" vertical="bottom" horizontal="end" *ngIf="type == 'mines'">
    <ion-fab-button routerLink="/channels/form" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab position="fixed" vertical="bottom" horizontal="end" *ngIf="type == 'followed'">
    <ion-fab-button  routerLink="/channels/list/explore" color="primary">
      <i class="fas fa-globe-americas"></i>
    </ion-fab-button>
  </ion-fab>
</ion-content>
