.product-item{
  height: 120px;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 12px;
  --inner-padding-end: 0 !important;
}
.item>img{
  min-height: 120px;
  width: 100%;
}
.product-info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: rgba($color: #797878, $alpha: 0.5);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
}
.title{
  font-size: 16px;
  font-weight: bold;
}
.subtitle{
  position: relative;
  top: -6px!important;
}
