<app-header
  [back]="true"
  [title]="type ? (type == 'buy' ? 'Available Product' : 'Posted products') : ''"
  [backLink]="'/tabs/buy-and-sell'"
  [search]="true"
  (searchKeyUp)="search($event)"
></app-header>

<app-loader *ngIf="pageLoading"></app-loader>

<ion-content>

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200"  (ionRefresh)="getProducts($event, true)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="h-100 d-flex align-items-center" *ngIf="products && !products.length">
    <div class="w-100 text-center px-4">
      <img src="./../../../../assets/shop.svg" alt="">
      <span class="empty-alert d-block mt-4">
        <span *ngIf="type == 'sell'">
          You didn't post any product yet<br/>
          <small>Click on <i class="fas fa-plus"></i> to sell your first product</small>
        </span>
        <span *ngIf="type == 'buy'">There is no product available to buy yet!</span>
      </span>
    </div>
  </div>


  <ion-row *ngIf="products" class="px-2">
    <ion-col size="6" *ngFor="let product of products">
      <ion-item button="true" [routerLink]="['/tabs/buy-and-sell/product/' + product.id]">
        <div class="w-100">
          <div class="square-container overflow-hidden">
            <img class="w-100" [src]="product.photo.path" alt="">
          </div>
          <div class="px-2 pt-1">
            <div class="d-flex justify-content-between">
              <span>{{ product.label | resumeText: 6 }}</span>
              <span>{{ product.price + ' ' + product.currency }}</span>
            </div>
            <small class="time">{{ product.createdAt | extractDiffTime }} ago</small>
          </div>
        </div>
      </ion-item>
    </ion-col>
  </ion-row>
  <!-- <div class="px-2" >
    <ion-list class="mt-0 pt-0" *ngIf="products" >
      <ion-item *ngFor="let product of products" class="product-item mb-2 podition-relative ion-no-padding" [routerLink]="['/tabs/small-business/products/product/' + product.id]">
        <img [src]="product.photo.path" alt="">
        <div class="product-info d-flex">
          <div class="ml-2 mt-auto">
            <span class="title d-block">{{ product.label }}</span>
            <small class="subtitle">{{ product.price + ' ' + product.currency }}</small>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div> -->


  <ion-infinite-scroll #infinitScroll threshold="100px" (ionInfinite)="getProducts($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="type == 'sell'">
    <ion-fab-button color="primary" (click)="showProductForm()" class="mr-2">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
