
.list-group{
  list-style: none;
}
.list-item{
  font-size: 20px;
}
.duration1{
  font-size: 18px;
  font-weight: bold;
}
.duration2{
  font-size: 17px;
}
.price-card{
  border-radius: 12px;
  border: 1px solid black!important;
}
.selected-label-container{
  position: absolute;
  top: -20px;
  left: 0px;
}
.selected-label{
  background-color: var(--ion-color-primary);
  color: white;
  border-radius: 12px;
}

.offer-item{
  font-size: 18px;
}
