<app-header
  title="Upgrade"
  [back]="true"
>
</app-header>

<ion-content>
  <ion-row class="h-100">
    <ion-col class="text-center text-container pb-3 px-3" size="12">
      <span class="title1 mt-4 d-block">Upgarde<br> Be Premium Now!!</span>
      <span class="d-block">Upgrade your account to have unlimited access to the application</span>
      <span class="d-block mt-4">
        <span class="timer d-inline">9.5 USD / mo</span>
      </span>
    </ion-col>
    <ion-col class="text-center mt-4 px-3" size="12">
      <span class=" d-block">What are you waiting for ? upgrade now!</span>
      <ion-button
        color="warning"
        class="mt-4"
        size="large"
      >
          <i class="fas fa-crown text-white mr-2"></i> Upgrade
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
