
  .title1{
    font-size: 22px;
    font-weight: bold;
    color: white;
  }
  .price{
    font-size: 18px;
    font-weight: bold;
  }
  .text-container{
    background-color: var(--ion-color-secondary);
    color: white;
  }
  .camera{
    font-size: 25px;
  }
  
  .btn-placeholder{
    font-weight: 300;
    font-size: 15px;
  }
  
  .list-group{
    list-style: none;
  }

  .selectedPrice{
    background-color: white!important;
    color: black!important;
  }