<ion-card
  [style]="{'--background': backgroundColor, '--color': color}"
>
  <ion-card-header class="py-2 pr-2 d-flex justify-content-between ">
    <div>
      <ion-card-title
        [style]="{'--color': color}"
      >
        {{ commentUserName(comment) }}
      </ion-card-title>
      <small [style]="{'color': color}" class="d-block date">
        {{ comment.createdAt | extractDiffTime }} ago
      </small>
    </div>
    <ion-button
      [style]="{'--color': color}"
      fill="clear"
      shape="round"
      size="small"
      color="dark"
      (click)="deletePostConf()"
    >
      <span *ngIf="!deleteLoading"><i class="far fa-trash-alt"></i></span>
      <span *ngIf="deleteLoading" ><i class="fas fa-circle-notch fa-spin"></i></span>
    </ion-button>
  </ion-card-header>
  <ion-card-content class="pt-0">
    <ion-card-subtitle
      [style]="{'--color': color}"
    >
      {{ comment.text }}
    </ion-card-subtitle>
  </ion-card-content>
</ion-card>
