<app-header title="Add Service" [back]="true"></app-header>

<app-loader *ngIf="pageLoading"></app-loader>

<ion-content>
  <div (click)="pickImage()" class="w-100 image-container">
    <div *ngIf="!serviceImage.url" class="w-100 h-100 bg-light d-flex justify-content-center align-items-center">
      <span class="text-center">
        <span *ngIf="!imageLoading" class="text-center">
          <span class="d-block camera">
            <i class="fas fa-camera"></i>
          </span>
          <span class="d-block">Select an image</span>
        </span>
        <span *ngIf="imageLoading" class="text-center">
          <span class="d-block camera">
            <i class="fas fa-spinner fa-spin"></i>
          </span>
          <span class="d-block">Imprting picture ...</span>
        </span>
      </span>
    </div>
    <img *ngIf="serviceImage.url"  [src]="serviceImage.url" class="w-100" alt="">
  </div>
  <form [formGroup]="form">
    <ion-list class="mx-3">
      <ion-item>
        <ion-label position="floating" class="ml-2">
          Company name:
        </ion-label>
        <ion-input formControlName="company" class="ml-2"></ion-input>
      </ion-item>
      <span class="text-danger" *ngIf="(company.dirty && !company.valid) || validatorErrors['company']">
        <span class="d-block" *ngIf="validatorErrors['company']">{{ validatorErrors['company'][0] }}</span>
        <span class="d-block" *ngIf="company.hasError('required')">The company name field is required</span>
        <span class="d-block" *ngIf="company.hasError('maxlength')">
          The company name must not contain more than {{ company.errors.maxlength.requiredLength }} characters
        </span>
      </span>

      <ion-item>
        <ion-label position="floating" class="ml-2">
          Service Title:
        </ion-label>
        <ion-input formControlName="title" class="ml-2"></ion-input>
      </ion-item>
      <span class="text-danger" *ngIf="(title.dirty && !title.valid) || validatorErrors['title']">
        <span class="d-block" *ngIf="validatorErrors['title']">{{ validatorErrors['title'][0] }}</span>
        <span class="d-block" *ngIf="title.hasError('required')">The title field is required</span>
        <span class="d-block" *ngIf="title.hasError('maxlength')">
          The title must not contain more than {{ title.errors.maxlength.requiredLength }} characters
        </span>
      </span>

      <ion-item>
        <ion-label position="floating" class="ml-2">
          Service Location:
        </ion-label>
        <ion-input formControlName="location" class="ml-2"></ion-input>
      </ion-item>
      <span class="text-danger" *ngIf="(location.dirty && !location.valid) || validatorErrors['location']">
        <span class="d-block" *ngIf="validatorErrors['location']">{{ validatorErrors['location'][0] }}</span>
        <span class="d-block" *ngIf="location.hasError('required')">The location field is required</span>
        <span class="d-block" *ngIf="location.hasError('maxlength')">
          The location must not contain more than {{ location.errors.maxlength.requiredLength }} characters
        </span>
      </span>

      <ion-item>
        <ion-label position="floating" class="ml-2">
          Phone number:
        </ion-label>
        <ion-input formControlName="phone" type="text" class="ml-2"></ion-input>
      </ion-item>
      <span class="text-danger" *ngIf="(phone.dirty && !phone.valid) || validatorErrors['phone']">
        <span class="d-block" *ngIf="validatorErrors['phone']">{{ validatorErrors['phone'][0] }}</span>
        <span class="d-block" *ngIf="phone.hasError('required')">The Phone number field is required</span>
        <span class="d-block" *ngIf="phone.hasError('maxlength')">
          The Phone number must not contain more than {{ phone.errors.maxlength.requiredLength }} characters
        </span>
        <span class="d-block" *ngIf="phone.hasError('pattern')">This field must contain a valid phone number</span>
      </span>

      <ion-item>
        <ion-label position="floating" class="ml-2">
          Service Description:
        </ion-label>
        <ion-textarea formControlName="description" class="ml-2" rows="5"></ion-textarea>
      </ion-item>
      <span class="text-danger" *ngIf="(description.dirty && !description.valid) || validatorErrors['description']">
        <span class="d-block" *ngIf="validatorErrors['description']">{{ validatorErrors['description'][0] }}</span>
        <span class="d-block" *ngIf="description.hasError('required')">The description field is required</span>
        <span class="d-block" *ngIf="description.hasError('maxlength')">
          The description must not contain more than {{ description.errors.maxlength.requiredLength }} characters
        </span>
      </span>

    </ion-list>
  </form>
</ion-content>
<ion-footer>

  <ion-item>
    <div class="w-100 pl-1">
      <ion-button
        expand="block"
        size="default"
        color="secondary"
        (click)="submit()"
        [disabled]="!form.valid"
      >
       Post
      </ion-button>
    </div>
  </ion-item>
</ion-footer>
