p{
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}
ion-content{
  // background-image: url("./../../../../assets/welcome.jpg");
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;
}
.skip-btn, .sub-btn{
  font-size: 18px;
}
.content{
  position: absolute;
  top: 0px;
  font-family: monospace;
}

.image{
  opacity: 0.3;
}
