p{
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}
.skip-btn, .sub-btn{
  font-size: 18px;
}
.content{
  position: absolute;
  top: 0px;
  font-family: monospace;
}

.image{
  opacity: 0.3;
}
