<app-header title="Add Job" [back]="true"></app-header>

<ion-content>
  <app-loader *ngIf="pageLoading"></app-loader>

  <div *ngIf="!pageLoading">
    <div (click)="pickImage()" class="w-100 image-container">
      <div *ngIf="!jobImage.url" class="w-100 h-100 bg-light d-flex justify-content-center align-items-center">
        <span *ngIf="!imageLoading" class="text-center">
          <span class="d-block camera">
            <i class="fas fa-camera"></i>
          </span>
          <span class="d-block">Select an image</span>
        </span>
        <span *ngIf="imageLoading" class="text-center">
          <span class="d-block camera">
            <i class="fas fa-spinner fa-spin"></i>
          </span>
          <span class="d-block">Imprting picture ...</span>
        </span>
      </div>
      <img *ngIf="jobImage.url" [src]="jobImage.url" class="w-100" alt="">
    </div>
    <form [formGroup]="form">
      <ion-list class="mx-3">
        <ion-item>
          <ion-input formControlName="company" class="ml-2" placeholder="Company name"></ion-input>
        </ion-item>
        <small class="text-danger mt-1" *ngIf="(company.dirty && !company.valid) || validatorErrors['company']">
          <span class="d-block" *ngIf="validatorErrors['company']">{{ validatorErrors['company'][0] }}</span>
          <span class="d-block" *ngIf="company.hasError('required')">The company name field is required</span>
          <span class="d-block" *ngIf="company.hasError('maxlength')">
            The company name must not contain more than {{ company.errors.maxlength.requiredLength }} characters
          </span>
        </small>

        <ion-item>
          <ion-input formControlName="title" class="ml-2" placeholder="Job Title"></ion-input>
        </ion-item>
        <small class="text-danger mt-1" *ngIf="(title.dirty && !title.valid) || validatorErrors['title']">
          <span class="d-block" *ngIf="validatorErrors['title']">{{ validatorErrors['title'][0] }}</span>
          <span class="d-block" *ngIf="title.hasError('required')">The title field is required</span>
          <span class="d-block" *ngIf="title.hasError('maxlength')">
            The title must not contain more than {{ title.errors.maxlength.requiredLength }} characters
          </span>
        </small>

        <ion-item class="w-100">
          <div class="w-100 h-100">
            <ion-button
              expand="block"
              fill="clear"
              color="dark"
              size="default"
              class="ion-no-padding ion-no-margin text-capitalize h-100"
              (click)="presentCountriesModal()"
            >
              <span class="w-100 my-3 ml-2 text-left country-btn" [class.btn-placeholder]="!selectedCountry">
                {{ selectedCountry ? selectedCountry : 'Country' }}
              </span>
            </ion-button>
          </div>
        </ion-item>
        <small class="text-danger mt-1" *ngIf="validatorErrors['country']">
          <span class="d-block" *ngIf="validatorErrors['country']">{{ validatorErrors['country'][0] }}</span>
        </small>

        <ion-item class="w-100">
          <div class="w-100 h-100">
            <ion-button
              expand="block"
              fill="clear"
              color="dark"
              size="default"
              class="ion-no-padding ion-no-margin text-capitalize h-100"
              [disabled]="!selectedCountry"
              (click)="presentCitiesModal()"
            >
              <span class="w-100 my-3 ml-2 text-left country-btn" [class.btn-placeholder]="!selectedCity">
                {{ selectedCity ? selectedCity : 'City' }}
              </span>
            </ion-button>
          </div>
        </ion-item>
        <small class="text-danger mt-1" *ngIf="validatorErrors['city']">
          <span class="d-block" *ngIf="validatorErrors['city']">{{ validatorErrors['city'][0] }}</span>
        </small>

        <ion-item>
          <ion-input formControlName="email" type="email" class="ml-2" placeholder="Company Email"></ion-input>
        </ion-item>
        <small class="text-danger mt-1" *ngIf="(email.dirty && !email.valid) || validatorErrors['email']">
          <span class="d-block" *ngIf="validatorErrors['email']">{{ validatorErrors['email'][0] }}</span>
          <span class="d-block" *ngIf="email.hasError('required')">The email field is required</span>
          <span class="d-block" *ngIf="email.hasError('maxlength')">
            The email must not contain more than {{ email.errors.maxlength.requiredLength }} characters
          </span>
          <span class="d-block" *ngIf="email.hasError('email')">This field must be a valid email</span>
        </small>

        <ion-item>
          <ion-textarea formControlName="description" class="ml-2" rows="5" placeholder="Job Description"></ion-textarea>
        </ion-item>
        <small class="text-danger mt-1" *ngIf="(description.dirty && !description.valid) || validatorErrors['description']">
          <span class="d-block" *ngIf="validatorErrors['description']">{{ validatorErrors['description'][0] }}</span>
          <span class="d-block" *ngIf="description.hasError('required')">The description field is required</span>
          <span class="d-block" *ngIf="description.hasError('maxlength')">
            The description must not contain more than {{ description.errors.maxlength.requiredLength }} characters
          </span>
        </small>

      </ion-list>
    </form>
  </div>
</ion-content>
<ion-footer class="px-3">
  <ion-item>
    <div class="w-100">
      <ion-button
        expand="block"
        size="default"
        color="primary"
        (click)="submit()"
        [disabled]="isFormValid(form)"
        *ngIf="!pageLoading"
      >
       Post
      </ion-button>
    </div>
  </ion-item>
</ion-footer>
