.image-container{
  height: 250px;
  overflow: hidden;
}
.title1{
  font-size: 22px;
  font-weight: bold;
  color: white;
}
.timer{
  font-size: 48px;
  font-weight: bold;
}
.text-container{
  background-color: var(--ion-color-secondary);
  color: white;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
}
.camera{
  font-size: 25px;
}
.btn-placeholder{
  font-weight: 300;
  font-size: 15px;
}
