<app-header title="Friends" [menu]="true">
  <div id="end-buttons">
    <ion-button
      fill="clear"
      shape="round"
      class="mr-2"
      routerLink="/tabs/messages"
    >
      <i class="icon far fa-comments"></i>
    </ion-button>
  </div>
</app-header>

<ion-row>
  <ion-col size="6" class="ion-no-padding">
    <ion-button
        expand="block"
        fill="clear"
        class="ion-no-margin tab-button text-capitalize"
        size="default"
        routerLinkActive="selected"
        routerLink="/tabs/friends/list"
    >
      Friends
    </ion-button>
  </ion-col>
  <ion-col size="6" class="ion-no-padding">
    <ion-button
        expand="block"
        fill="clear"
        class="ion-no-margin tab-button text-capitalize"
        size="default"
        routerLinkActive="selected"
        routerLink="/tabs/friends/requests"
    >
      Friend requests
    </ion-button>
  </ion-col>
</ion-row>
