<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <i class="fas fa-arrow-left"></i>
      </ion-button>
    </ion-buttons>
    <ion-title>Available products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-item routerLink="/channels/product">
      <ion-thumbnail class="ml-2">
        <ion-img src="./../../../../assets/menu-bg.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label class="ml-2">
        <span class="d-block">MacBook Pro</span>
        <small>by Amal</small>
      </ion-label>
      <span class="mr-2">1500$</span>
    </ion-item>
  </ion-list>
</ion-content>
