<app-header title="Small Business" [menu]="true" ></app-header>

<ion-content>
  <div class="h-100 text-center d-flex align-items-center">
    <div class="pl-3 pr-4 w-100">
      <ion-chip routerLink="/small-business/jobs" class="chip">
        <ion-label class="w-100 text-center">
          <span>Jobs</span>
        </ion-label>
      </ion-chip>
      <div class="mx-2 position-relative">
        <hr class="position-absolute bg-secondary">
        <span class="">or</span>
      </div>
      <ion-chip routerLink="/small-business/services" class="chip">
        <ion-label class="w-100 text-center">
          <span>Service</span>
        </ion-label>
      </ion-chip>
    </div>
  </div>
</ion-content>
