.chip{
  height: 100px;
  width: 100%;
}
.chip>ion-label>span{
  font-size: 25px;
}

.image{
  opacity: 0.5;
  position: absolute;
  bottom: 0px;
  left: 0px;
  max-height: 100%;
}
.content{
  position: absolute;
  top: 0;
  left: 0;
}
