<ion-content class="background">
  <ion-row class="h-100">
    <ion-col size="12" class="text-center mt-auto">
      <img class="logo-img" src="../../../../assets/logo.svg" alt="">
      <span class="logo-text">Geloo</span>
      <span class="desc">Break the ice</span>
    </ion-col>
    <ion-col size="12" class="mt-auto">
      <ion-button
          routerLink="/auth/signin"
          expand="block"
          color="secondary"
          class="my-2"
      >
        <i class="fas fa-sign-in-alt mx-2"></i>
        Login
      </ion-button>
      <ion-button
          routerLink="/auth/signup"
          expand="block"
          color="light"
          fill="outline"
          class="my-2"
      >
        <i class="fas fa-user-plus mx-2"></i>
        Signup
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
