.background{
  --background: linear-gradient(rgb(112, 43, 43), rgb(216, 68, 68) 50%, rgb(112, 43, 43)) !important;;
}

.logo-img{
  width: 60px;
  height: 100px;
  filter: invert(1);
}

.logo-text{
  font-size: 50px;
  font-weight: bolder;
  display: block;
  color: white;
  margin: 0px;
  padding: 0px;
}

.desc{
  font-size: 22px;
  color: white;
  display: block;
  margin-top: -10px;
  padding: 0px;
}

.footer{
  background-color: rgba(var(--ion-color-dark-rgb), 0.7);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
