<ion-content class="background">
  <ion-row class="h-100">
    <ion-col size="12" class="d-flex mt-5 justify-content-center">
      <img class="logo-img" src="../../../../assets/logo.png" alt="">
      <div class="text-center ml-3" >
        <span class="logo-text">GELOO</span>
        <span class="desc">Break the ice</span>
      </div>
    </ion-col>
    <ion-col class="text-white footer mt-auto p-3" size="12">
      <h4 class="mb-0">Welcome to GELOO Application</h4>
      <span>You are using version 1.0.0</span>
      <ion-button
          routerLink="/auth/signin"
          expand="block"
          color="light"
          class="my-3"
      >
        Login
      </ion-button>
      <ion-button
          routerLink="/auth/signup"
          expand="block"
          color="warning"
          class="my-3"
      >
        Create an account
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
