<app-header
  [title]="channelName ? channelName : ''"
  [back]="true"
  [backgroundColor]="'#fff'"
  [textColor]="'#000'"
></app-header>

<app-loader *ngIf="pageLoading" ></app-loader>

<ion-content #content *ngIf="posts">

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200"  (ionRefresh)="getChannelPosts($event, true)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="posts && posts.length" class="mb-3">
    <app-post class="my-3" (removePost)="deletePost(post)" *ngFor="let post of posts" [post]="post"></app-post>
  </div>

  <ion-infinite-scroll #infinitScroll threshold="100px" (ionInfinite)="getChannelPosts($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="center"
    (click)="showPostForm()"
  >
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
