<ion-content color="dark" [fullscreen]="true">
  <div class="backbtn-container">
    <ion-button class="ion-no-margin ion-no-padding ml-3" (click)="goBack()" fill="clear" shape="round" color="light">
      <span class="backbtn"><i class="fas fa-chevron-left"></i></span>
    </ion-button>
  </div>
  <ion-slides class="h-100" pager="false" [options]="slideOpts">
    <ion-slide class="h-100" *ngFor="let user of users">
      <app-slide class="h-100 w-100" [user]="user"></app-slide>
    </ion-slide>
  </ion-slides>
</ion-content>
