<app-header
  title="Find New Friends"
>
  <div id="end-buttons">
    <ion-button
      shape="round"
      (click)="presentSearchByModal()"
    >
      <i class="fas fa-filter"></i>
    </ion-button>
  </div>
</app-header>

<ion-item>
  <ion-label class="ml-2">Random</ion-label>
  <ion-toggle [(ngModel)]="random" (ionChange)="getNearUsers(null, true)" ></ion-toggle>
</ion-item>

<ion-content>

  <app-loader *ngIf="pageLoading" ></app-loader>


  <ion-refresher *ngIf="!showSlides" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200"  (ionRefresh)="getNearUsers($event, true)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="h-100" *ngIf="!pageLoading && users && users.length">
    <ion-slides
      #slides (ionSlideReachEnd)="getNearUsers()"
      *ngIf="random"
      class="h-100"
      pager="false"
      [options]="slideOpts"
    >
      <ion-slide class="h-100" *ngFor="let user of users">
        <app-slide [authUser]="authUser" [random]="random" class="h-100 w-100" [user]="user"></app-slide>
      </ion-slide>
    </ion-slides>

    <ion-row *ngIf="!random" class="p-2">
      <ion-col size="4" *ngFor="let user of users">
        <ion-item lines="none" (click)="showProfile(user.id)" >
          <div class="w-100">
            <div class="photo-container overflow-hidden">
              <img class="w-100" [src]="user.avatar.path" alt="">
            </div>
            <div class="px-2 w-100 text-center pt-1">
                <span>{{ (user.firstName | resumeText: 12) + ', ' + user.age }}</span>
            </div>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-infinite-scroll #infinitScroll threshold="100px" (ionInfinite)="getNearUsers($event)">
      <ion-infinite-scroll-content
        loadingSpinner="crescent"
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
