<app-header title="Friends" [menu]="true"></app-header>

<ion-row>
  <ion-col size="6" class="ion-no-padding">
    <ion-button
        expand="block"
        class="ion-no-margin tab-button text-capitalize"
        size="default"
        color="secondary"
        routerLinkActive="selected"
        routerLink="/channels/list"
    >
      Subscription
    </ion-button>
  </ion-col>
  <ion-col size="6" class="ion-no-padding">
    <ion-button
        expand="block"
        class="ion-no-margin tab-button text-capitalize"
        size="default"
        color="secondary"
        routerLinkActive="selected"
        routerLink="/channels/list/explore"
    >
      Explore more
    </ion-button>
  </ion-col>
</ion-row>
