<app-header
  [title]="type == 'posted' ? 'Posted Service' : 'Available Service'"
  [back]="true"
  [backLink]="'/tabs/small-business'"
  [search]="true"
  (searchKeyUp)="search($event)"
>
</app-header>

<ion-item class="ml-2 d-flex">
  <ion-button
    fill="clear"
    class="mx-auto"
    *ngIf="type == 'posted'"
    routerLink="/tabs/small-business/services/list/available"
  >
    View Available Services
  </ion-button>
  <ion-button
    fill="clear"
    class="mx-auto"
    *ngIf="type == 'available'"
    routerLink="/tabs/small-business/services/list/posted"
  >
    View Posted Services
  </ion-button>
</ion-item>

<ion-content>

  <app-loader *ngIf="pageLoading"></app-loader>

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200"  (ionRefresh)="getServices($event, true)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="h-100 d-flex align-items-center"  *ngIf="services && !services.length">
    <div class="w-100 text-center px-4">
      <img src="./../../../../../assets/services.svg" alt="">
      <span class="empty-alert d-block mt-4">
        <span *ngIf="type == 'posted'">
          You didn't post any service yet<br>
          <small>Click on <i class="fas fa-plus"></i> to create new service post</small>
        </span>
        <span *ngIf="type == 'available'">There is no service available now, come back later</span>
      </span>
    </div>
  </div>


  <div class="px-2" >
    <ion-list class="mt-0 pt-0" *ngIf="services" >
      <ion-item *ngFor="let service of services" class="service-item mb-2 podition-relative ion-no-padding" [routerLink]="['/tabs/small-business/services/service/' + service.id]">
        <img [src]="service.photo.path" alt="">
        <div class="service-info d-flex">
          <div class="ml-2 mt-auto">
            <span class="title d-block">{{ service.title }}</span>
            <small class="subtitle">{{ service.company }}</small>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <ion-infinite-scroll #infinitScroll threshold="100px" (ionInfinite)="getServices($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="type == 'posted'">
    <ion-fab-button (click)="showServiceForm()" class="mr-2" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
