<app-header 
  title="Services" 
  [back]="true" 
  [backLink]="'/small-business'"
  [search]="true"
  (searchKeyUp)="search($event)"
>

</app-header>

<app-loader *ngIf="pageLoading"></app-loader>

<ion-row>
  <ion-col size="6" class="ion-no-padding">
    <ion-button
        expand="block"
        class="ion-no-margin tab-button text-capitalize"
        size="default"
        color="secondary"
        routerLinkActive="selected"
        routerLink="/small-business/services/list/posted"
    >
        Posted Services
    </ion-button>
  </ion-col>
  <ion-col size="6" class="ion-no-padding">
    <ion-button
        expand="block"
        class="ion-no-margin tab-button text-capitalize"
        size="default"
        color="secondary"
        routerLinkActive="selected"
        routerLink="/small-business/services/list/available"
    >
        Available Services
    </ion-button>
  </ion-col>
</ion-row>

<ion-content>

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200"  (ionRefresh)="getServices($event, true)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card class="p-2 text-center" *ngIf="services && !services.length">
    <ion-card-subtitle>There is no service to show</ion-card-subtitle>
  </ion-card>

  <ion-list *ngIf="services">
    <ion-item *ngFor="let service of services" [routerLink]="['/small-business/services/service/' + service.id]">
      <ion-thumbnail class="ml-2">
        <ion-img [src]="service.photo.path"></ion-img>
      </ion-thumbnail>
      <ion-label class="ml-2">
        <span class="d-block">{{ service.title }}</span>
        <small>{{ service.company }}</small>
      </ion-label>
      <span class="mr-2 text-right">
        <small class="d-block">{{ service.createdAt | extractDiffTime }} ago</small>
        <small class="d-block">{{ service.city }}</small>
      </span>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll #infinitScroll threshold="100px" (ionInfinite)="getServices($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="type == 'posted'">
    <ion-fab-button (click)="showServiceForm()" class="mr-2" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
